/* Everything */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  min-height: 100vh;
}

/* Navigation Bar */
#logo {
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 6%;
  align-items: center;
  background: #f3f3f3;
  min-height: 15vh;
}

.nav-links {
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 30px;
}

.nav-links ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.15rem;
  display: inline-block;
  padding: 4px 0px;
  position: relative;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  background: black;
  height: 2px;
  display: block;
  margin: auto;
}

.nav-links ul li:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#current-page a {
  font-weight: 500;
  color: #4c7fc7;
}

.nav-links ul li#current-page:hover::after {
  width: 0%;
}

/* Homepage */

#homepage {
  display: flex;
  height: 85vh;
}

#welcome {
  font-weight: 500;
  color: darkgray;
  letter-spacing: 0.5rem;
  margin-bottom: 20px;
  font-size: 2rem;
}

#joeribreedveld {
  font-size: 6rem;
  font-weight: 500;
}

#introduction {
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  margin-top: 30px;
  color: #304d75;
}

#aboutme {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  padding: 20px 30px;
  border-radius: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: all 0.2s;
  width: fit-content;
  margin-top: 45px;
  background: #81b6ff;
  font-size: 1.5rem;
  border-radius: 5px;
}

#aboutme:hover {
  background: #4d97ff;
  cursor: pointer;
}

#hometext {
  width: 60vw;
  padding: 80px 100px;
}

#homepicture {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
}

#picture {
  height: 400px;
  align-items: center;
  display: flex;
  margin: 50px;
}
